<div class="container">
  <div>
    <h1>Add Training Schedule Form</h1>
    <form (ngSubmit)="onSubmit()" #trainingForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
      </div>
      <div class="form-group">
        <label for="name">Start Date</label>
        <input type="date" class="form-control" id="startDate" required [(ngModel)]="model.startDate" name="startDate"
          #startDate="ngModel">
      </div>
      <div class="form-group">
        <label for="name">End Date</label>
        <input type="date" class="form-control" id="endDate" required [(ngModel)]="model.endDate" name="endDate"
          #endDate="ngModel">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!trainingForm.form.valid">Submit</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <span [hidden]="!successful">
      <h4>Record submitted successfully!</h4>
    </span>
    <span [hidden]="successful">
      <h4>{{message}}
      </h4>
    </span>

  </div>